@import '/src/utils/utils';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;

    @include mobile {
        padding: 20px;
    }
}

.account {
    &_group {
        display: flex;
        gap: 10px;
    }
}
